<div class="Condicions">
  <h2 class="bigTitle">Condiciones de Compra</h2>
  <p>En fer una compra a la nostra botiga, acceptes les següents condicions de compra. Els pagaments es processen de manera segura mitjançant les nostres plataformes de pagament certificades. Acceptem diverses formes de pagament, incloent targetes de crèdit, dèbit i transferències bancàries.</p>

  <h2 class="bigTitle">Garantía dels productes</h2>
  <p>Tots els nostres productes vénen amb una garantia de 1 any des de la data de compra. La garantia cobreix defectes de fabricació i qualsevol problema que pugui sorgir durant lús normal del producte.</p>
  <p>Per reclamar la garantia, si us plau contacteu amb el nostre servei d'atenció al client proporcionant el comprovant de compra i una descripció detallada del problema. Ens reservem el dret a inspeccionar el producte i determinar si la garantia és aplicable.</p>
  <p>En cas de ser aplicable, ens comprometem a reparar o reemplaçar el producte sense cap cost addicional. Si no és possible reparar o reemplaçar el producte, s'oferirà un reemborsament complet.</p>

  <h2 class="bigTitle">Devolucions</h2>
  <p>Si no estàs satisfet amb la teva compra, pots tornar el producte dins dels 30 dies posteriors a la compra. El producte ha d'estar en estat original, sense signes d'ús i amb l'embalatge original.</p>

  <h2 class="bigTitle">Política de Privacitat</h2>
  <p>Ens comprometem a protegir la teva privadesa. Totes les dades personals recopilades durant el procés de compra seran utilitzades únicament per processar la teva comanda i millorar la teva experiència de compra.</p>
  <p>No compartirem les vostres dades amb tercers sense el vostre consentiment, excepte quan sigui necessari per completar el servei sol·licitat. Adoptem mesures de seguretat avançades per protegir la teva informació personal.</p>

  <h2 class="bigTitle">Enviaments</h2>
  <p>Realitzem enviaments a nivell nacional i internacional. Els temps de lliurament varien segons la ubicació i el mètode d'enviament seleccionat. Proporcionarem un número de seguiment una vegada que la teva comanda hagi estat enviada.</p>
  <p>En cas de retards en el lliurament, contacta'ns perquè puguem investigar i resoldre qualsevol problema com més aviat millor.</p>
</div>

