<footer>

  <div id="contenidor">
    <div id="contenidorFormulari">
      <h2>Registra't per rebre correus electrònics sobre ofertes!</h2>
      <form>
        <div>
          <input type="email" name="email" id="email">
          <select name="pais" id="pais">
            <option value="Espanya">Espanya</option>
            <option value="Espanya">Espanya</option>
            <option value="Espanya">Espanya</option>
            <option value="Espanya">Espanya</option>
            <option value="Espanya">Espanya</option>
          </select>
          <input type="date" name="datNaix" id="datNaix">
        </div>
        <div id="checks">
          M'agradaria rebre correus electrònics sobre:
          <div>
            <input type="checkbox" name="notificacions" id="notificacions">
            Descomptes i promocions
          </div>
        </div>
        <button>Enviar</button>
      </form>
    </div>
    <div id="contenidorSeccions">
      <div id="pagines">
        <h2>DressMon</h2>
        <a href="/inici">Inici</a>
        <a href="/cataleg">Catàleg</a>
        <a href="/condicions">Condicions Legals</a>
        <a href="/contacte">Contacte</a>
        <a href="/inicisessio">Iniciar Sessió</a>
      </div>
      <div id="xarxesSocials">
        <a href="https://www.facebook.com" id="facebook"> <img src="/assets/xarxes/facebook-icon.png" alt="SI"></a>
        <a href="https://www.youtube.com" id="youtube"><img src="/assets/xarxes/youtube-icon.png" alt="SI"></a>
        <a href="https://x.com" id="twitter"><img src="/assets/xarxes/twitter-icon.png" alt="SI"></a>
        <a href="https://www.instagram.com" id="instagram"><img src="/assets/xarxes/instagram-icon.png" alt="SI"></a>
      </div>
    </div>
  </div>
</footer>
