<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dressmon - Inici</title>
  </head>
<body>
<header class="header">
  <h1 id="titolInici">Benvingut a Dressmon</h1>
  <p>La teva botiga de moda inspirada en Pokémon</p>
</header>

<div class="container">
  <section id="sobre" class="section">
    <h2>Sobre Dressmon</h2>
    <p>Dressmon és una botiga exclusiva de roba inspirada en Pokémon. Oferim dissenys únics i de qualitat perquè puguis lluir el teu amor per aquest univers màgic.</p>
      </section>

  <section id="productes" class="section">
    <h2>Els nostres productes més venuts</h2>
    <div class="products">
      <div class="product">
        <img src="../../assets/Camiseta/camiseta-bulbasaur-2-600x600.jpg" alt="Samarreta Bulbasaur Edition" style="width: 250px; height: auto;">
        <h3>Samarreta Bulbasaur Edition</h3>
        <p>Una samarreta verda amb un disseny únic de Bulbasaur.</p>
        <span class="price">19,99€</span>
        <a href="/cataleg/producte/7"><button>Comprar ara</button></a>
      </div>
      <div class="product">
        <img src="../../assets/Gorras/gorra-de-pikachu-con-orejas-600x600.jpg" alt="Gorra Pikachu Classic" style="width: 250px; height: auto;">
        <h3>Gorra Pikachu Classic</h3>
        <p>Perfecta per als fans de Pikachu. Un toc divertit per als teus outfits!</p>
        <span class="price">14,99€</span>
        <a href="/cataleg/producte/6"><button>Comprar ara</button></a>

      </div>
      <div class="product">
        <img src="../../assets/Pantuflas/pantuflas-snorlax-600x600.jpg" alt="Pantufles Snorlax" style="width: 250px; height: auto;">
        <h3>Pantufles Snorlax</h3>
        <p>Les pantufles més còmodes per relaxar-te com un Snorlax.</p>
        <span class="price">24,99€</span>
        <a href="/cataleg/producte/5"><button>Comprar ara</button></a>

      </div>
      <div class="product">
        <h1>Pokemon Aleatori</h1>
        <img [src]="imatgePokemon" alt="Pantufles Snorlax" style="width: 250px; height: auto;">
        <h3>{{nomPokemon}}</h3>




      </div>

    </div>
  </section>

</div>
</body>
</html>
