<div id="contenidorIniciSessio">
  <h1 class="jersey-10-regular" id="titolIniciSessio">Inici de sessió</h1>
  <form action="" id="formulariIniciSessio">
    <label for="correu">Correu elèctronic</label>
    <input type="email" name="email" id="correu" [(ngModel)]="correu" placeholder="Correu electrònic">

    <label for="correu">Contrasenya</label>
    <input type="password" name="passwd" id="passwd" [(ngModel)]="passwd" placeholder="Contrasenya">
    <a href="/registre">No tens cap compte?</a>

    <input type="submit" value="Iniciar Sessió" (click)="iniciSessio()">


  </form>




</div>
