<div id="contenidorIniciSessio">
  <h1 class="jersey-10-regular" id="titolIniciSessio">Inici de sessió</h1>
  <form action="" id="formulariIniciSessio">
    <label for="usuari">Correu elèctronic</label>
    <input type="text" name="usuari" id="usuari" [(ngModel)]="usuari" placeholder="Correu electrònic">

    <label for="passwd">Contrasenya</label>
    <input type="password" name="passwd" id="passwd" [(ngModel)]="passwd" placeholder="Contrasenya">
    <a href="/registre">No tens cap compte?</a>

    <input type="submit" value="Iniciar Sessió" (click)="iniciSessio()">


  </form>




</div>
