.linea1{
  align-content: center;
  background-color: white;
  margin-left: 250px;
  margin-right: 250px;
  padding-left: 35px;
}
.linea2{
  align-content: center;
  background-color: white;
  margin-left: 250px;
  margin-right: 250px;
  padding-left: 35px;
}
.linea3{
  align-content: center;
  background-color: white;
  margin-left: 250px;
  margin-right: 250px;
  padding-left: 35px;
}
.linea4{
  align-content: center;
  background-color: white;
  margin-left: 250px;
  margin-right: 250px;
  padding-left: 35px;
}
.linea5{
  align-content: center;
  background-color: white;
  margin-left: 250px;
  margin-right: 250px;
  padding-left: 35px;
}
h4{
  text-align: center;
}
.boto{
  position: relative;
  margin-left: 350px;
  margin-bottom: 50px;
}
