<div class="linea1">
  <img width="250" height="250" src="../../assets/Camiseta/camiseta-magikarp-2-600x600.jpg">
  <img width="250" height="250" src="../../assets/Camiseta/camiseta-de-eevee-2-600x600.jpg">
  <img width="250" height="250" src="../../assets/Camiseta/camiseta-bulbasaur-2-600x600.jpg">
  <h4> Camisetas de pokemon</h4>
  <a href="/cataleg/categoria/Camisetas">
    <button class="boto">Ver mas</button>
  </a>
</div>
<div class="linea2">
  <img width="250" height="250" src="../../assets/Gorras/gorra-de-pikachu-con-orejas-600x600.jpg">
  <img width="250" height="250" src="../../assets/Gorras/gorra-pokemon-go-amarilla-600x600.jpg">
  <img width="250" height="250" src="../../assets/Gorras/gorra-roja-pokemon-600x600.jpg">
  <h4> Gorras de pokemon</h4>
  <a href="/cateleg/categoria/Gorra">
    <button class="boto">Ver mas</button>
  </a>
</div>
<div class="linea3">
  <img width="250" height="250" src="../../assets/Mitjons/calcetines-charmander-charizard-600x600.jpg">
  <img width="250" height="250" src="../../assets/Mitjons/calcetines-pidgey-600x600.jpg">
  <img width="250" height="250" src="../../assets/Mitjons/calcetines-squirtle-600x600.jpg">
  <h4> Mitjons de pokemon</h4>
  <a href="/cataleg/categoria/Mitjons">
    <button class="boto">Ver mas</button>
  </a>
</div>
<div class="linea4">
  <img width="250" height="250" src="../../assets/Pantuflas/pantuflas-mudkip-600x600.jpg">
  <img width="250" height="250" src="../../assets/Pantuflas/pantuflas-de-vaporeon-600x600.jpg">
  <img width="250" height="250" src="../../assets/Pantuflas/pantuflas-snorlax-600x600.jpg">
  <h4> Pantuflas de pokemon</h4>
  <a href="/cataleg/categoria/Pantuflas">
    <button class="boto">Ver mas</button>
  </a>
</div>
<div class="linea5">
  <img width="250" height="250" src="../../assets/Sudadera/sudadera-lucario-1.jpg">
  <img width="250" height="250" src="../../assets/Sudadera/sudadera-charmander.jpg">
  <img width="250" height="250" src="../../assets/Sudadera/sudadera-eevee.jpg">
  <h4> Sudaderas de pokemon</h4>
  <a href="/cataleg/categoria/Dessuadora">
    <button class="boto">Ver mas</button>
  </a>
</div>
