<div class="topText">
  <p class="intro">Per posar-se en contacte amb nosaltres, podeu utilitzar una de les opcions següents. Com un entrenador Pokémon que busca la millor forma de connectar amb el seu Professor, estem a la vostra disposició!</p>

  <div class="contactMethod">
    <h2 class="bigTitle">📞 Telèfon</h2>
    <p>Truca'ns al nostre número de telèfon: <span class="negrita">+34 657 456 789</span>. Estem disponibles de dilluns a divendres, de 11:00 a 23:00, com un Pikachu llest per a l'aventura en qualsevol moment.</p>
  </div>

  <div class="contactMethod">
    <h2 class="bigTitle">📧 Correu electrònic</h2>
    <p>També podeu enviar-nos un correu electrònic a: <span class="negrita">soportdressmon&#64;gmail.com</span>. Respondrem amb rapidesa, com un Pokémon que rescatem de l'arena de batalla!</p>
  </div>
</div>
