<div class="topText">
  <p>Per posar-se en contacte amb nosaltres, podeu utilitzar una de les opcions següents:</p>
  <h2 class="bigTitle">Teléfon</h2>
  <p>Podeu trucar-nos al següent número de telèfon: <span class="negrita">+34 657 456 789</span>. Estem disponibles de dilluns a divendres, de 11:00 a 23:00.</p>
  <h2 class="bigTitle">Correo electrónico</h2>
  <p>També podeu enviar-nos un correu electrònic a: <span class="negrita">soportdressmon&#64;gmail.com</span>. Responderemos lo antes posible.</p>
</div>
