<nav>
  <div id="contenidor">
    <div id="apartats">

      <a href="/inici" class="seccio" id="inici" >
        <p>Inici</p>
      </a>
    <a href="/cataleg" class="seccio" id="cataleg" >
      <p>Catàleg</p>
    </a>
    <a href="/condicions" class="seccio" id="condicions">
      <p>Condicions</p>
    </a>
    <a href="/contacte" class="seccio" id="contacte">
      <p>Contacte</p>
    </a>
    <a href="/inicisessio" class="seccio" id="sessio">
      <p>Iniciar Sessió</p>
    </a>
    </div>
    <div id="linies">
      <div class="linia primera" id="liniaInici"></div>
      <div class="linia" id="liniaCataleg"></div>
      <div class="linia" id="liniaCondicions"></div>
      <div class="linia" id="liniaContacte"></div>
      <div class="linia ultima" id="liniaSessio"></div>
    </div>
  </div>
  <a id="cistella" href="/cistella"></a>
</nav>
